@import './../../Utils/colors';

.badgeStyles {
    padding: 0.25em 0.3em;
    font-size: 0.75em;
    border-radius: 2px;
    background-color: $yellow;
    color : black;
    display: inline-block;
}