@import "./../../Utils/colors";

.wrapper {
    width: 100%;
    height: 100%;

    img {
        width: 50%;
        object-fit: cover;
    }
}

.noMailContentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div:nth-child(2) {
        font-weight: 600;
        font-size: 0.9em;
        margin: 20px 0 10px 0;
    }

    div:nth-child(3) {
        font-weight: 400;
        font-size: 0.8em;
    }
}

.mainBody {
    padding: 1rem;
    .profileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .outerFlex{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .innerFlex{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                margin-left: 1rem;
                justify-content: space-around;

                span:nth-child(1){
                    font-weight: 300;
                };

                span:nth-child(2){
                    font-weight: 600;
                }   
            }
        }
    }
    .profileIconStyles {
        color: $cloud;
    }
    .deleteIconStyles {
        color: $dark-grey;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
    hr {
        border: none;
        height: 1px;
        background-color: $cloud;
    }
    main {
        padding: 0.8rem 0.5rem;
        .dangerousDiv {
            white-space: pre-line;
            font-size: 0.9em;
        }
    }
}
